{
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-underscore-dangle": 0,
    "import/imports-first": 0,
    "import/newline-after-import": 0,
    "import/prefer-default-export": 0,
    "semi": 1
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "Headers": true,
    "Request": true,
    "fetch": true
  },
  "parser": "babel-eslint"
}